.form {
  display: flex;
}

.textarea {
  padding: 5px;
  width: 100%;
  resize: none;
  border: 1px solid rgba(186, 113, 255, 0.3);
  border-radius: 5px 0px 0px 5px;
}

.textarea:focus {
  border: 1px solid rgb(164, 163, 255);
  outline: none;
}

.button {
  font-size: 16px;
  background-color: rgba(132, 0, 255, 0.3);
  color: rgb(145, 0, 189);
  border: 1px solid rgba(132, 0, 255, 0.2);
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background-color: rgba(186, 113, 255, 0.3);
  color: rgb(195, 0, 255);
  border: 1px solid rgba(186, 113, 255, 0.3);
}